<html>
<head>    
    <title>Book My Show</title>
        <link rel="stylesheet" type="text/css" href="/static/myStyle.css">
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="js/jsFile.js"></script>
        
</head>
<body>

    <div>
        <ul class="Navbar">
            <li class="logo"><a id="logoText" href="">Book<span class="logoColr2">My</span>Movie </a></li>
            <li><a href="/login" >LOG IN</a></li> 
            <li><a href="/signup">SIGN UP</a></li>
        </ul>
    </div>



<div id="loginTable" style="text-align: center; padding-top: 15%; padding-bottom: 13%;">
    <h1>You have been Logged out Successfully</h1>
</div>





</body>
</html>